<html>
  <head>
    <% include ../partials/globalcss %>
    <link rel="stylesheet" href="/public/cover.css">
    <title> <%= title %> </title>
  </head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">tommenzi.es</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Tom Menzies</h1>
            <p class="lead">Landing page</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- /.container -->
<!--

    <div class="container">
      <h1>Hello World</h1>
      <ul>
        <% for (i=0; i < data.length; i++) { %>
          <li> <%= data[i] %> + <%= i %></li>
        <% }; %>
      </ul>
      <form action="/newdata" method="post">
        <input type="text" name="todo"/>
        <input type="submit" value="Add"/> 
      </form>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/globaljs %> -->
  </body>
</html>